<div class="container">

  <div class="content">
    <div class="page-header">
      <h1>About Slido</h1>
    </div>
    <div class="row">
	    <div class="span14">
	    	<h2>What?</h2>
	    	<p>Simple, write your presentation using the <a href="http://daringfireball.net/projects/markdown/syntax">markdown syntax</a> and generate an awesome HTML5 slide show like Google's <a href="http://slides.html5rocks.com/">HTML5Rocks presentation</a>.</p>
	    	<p>This project is heavily inspired in the ruby <a href="http://slideshow.rubyforge.org/">Slide Show (S9)</a> project.</p>
	    	<p>The difference is that you can use this from the browser, while S9 is a command-line utiliy.</p>
	    	
	    	<h2>Is Opensource!</h2>
	    	<p>This is an opensource project created by <a href="http://joseoncode.com">José Romaniello</a>.</p>
	    	<p>This project was built on <a href="http://nodejs.org/">node.js</a> and uses a lot of other opensource:
	    	 <ul>
	    	 	<li> <a href="http://expressjs.com/">ExpressJS</a> </li>
	    	 	<li> <a href="http://www.handlebarsjs.com/">Handlebars</a> </li>
	    	 	<li> <a href="http://ace.ajax.org/">ACE Cloud9 Editor</a> </li>
	    	 	<li>  
	    	 		<a href="http://jquery.com">JQuery</a>
	    	 	</li>
	    	 	<li>
	    	 		<a href="http://slides.html5rocks.com/">Google's HTML5 slide show</a>
	    	 	</li>
	    	 	<li>
	    	 		<a href="https://github.com/andris9/node-markdown">Node markdown</a>
	    	 	</li>
	    	 	<li>
	    	 		<a href="http://www.mongodb.org/">MongoDB</a>
	    	 	</li>
	    	 	<li>
	    	 		<a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>
	    	 	</li>
	    	 </ul>	
	    	</p>  
	    </div>
    </div>
  </div>
</div>
