<script type="text/javascript" src="/scripts/bootstrap-alerts.js"></script>
<script type="text/javascript" src="/markitup/jquery.markitup.js"></script>
<script type="text/javascript" src="/markitup/sets/markdown/set.js"></script>
<link rel="stylesheet" type="text/css" href="/markitup/skins/simple/style.css" />
<link rel="stylesheet" type="text/css" href="/markitup/sets/markdown/style.css" />
<script type="text/javascript" src="/scripts/jquery.tmpl.min.js" charset="utf-8"></script>
<script type="text/javascript">
$(document).ready(function(){
  var currentId = "{{slideId}}";
  $('#editor').markItUp(myMarkdownSettings);

  function saveSlide(){
    var locationToPost = window.location.href;
    return $.post(locationToPost, {
      slideMarkdown: $("#editor").val()
    });
  }

  $(".previewslide").click(function(e){
    saveSlide()
      .done(function(result){
        window.location.href = "/slide/" + result.id;
      }).fail(function(err){
        $("#ErrorTemplate").tmpl({err: err.responseText}).prependTo($(".main"));
      });
    
  });

  $(".saveslide").click(function(e){
    e.preventDefault();
    saveSlide()
    .done(function(result){
      $(".alert-message").remove();
     $("#AlertTemplate").tmpl(result).prependTo($(".main"));
     currentId = result.id;
    }).fail(function(err){
     $("#ErrorTemplate").tmpl({err: err.responseText}).prependTo($(".main"));
    });
    return false;
  });

  $(".showexample").click(function(e){  
    e.preventDefault();
    $("#editor").val(
      ["<div class=\"slide transitionSlide\" id=\"my-sample-section\">",
      "  <section class=\"middle\">",
      "    <h2>This is a section</h2>",
      "    <p>",
      "     You can't write this in markdown... because it needs a valid ID and a class attribute. <br />", 
      "     However... you can write an slide without section transitions.",
      "    </p>",
      "  </section>",
      "</div>",
      "",
      'This is the first slide ',
      '==============',
      '',
      'Put some stuff here',
      '',
      '* Item 1',
      '* Item 2',
      '* Item 3',
      '',
      '',
      'Another slide',
      '======================',
      '',
      'Another list',
      '',
      '* a',
      '* b',
      '* c'].join("\n"));
    return false;
  });
});
</script>

<div class="container">

  <div class="content">
    <div class="page-header">
      <h1>Write markdown and generate an HTML5 slideshow</h1>
    </div>
    <div class="row">
      <div class="span14 main" style="height: 700px">
        <br />
        <div class="well">
          <input type="button" class="btn primary saveslide" value="Save" />
          <input type="button" class="btn primary previewslide" value="Preview" />
          <input type="button" class="btn info showexample" value="Show me an example" />
        </div>
      	<textarea id="editor" class="span12" style="width: 805px; height: 550px;">{{slideMarkdown}}</textarea>
      </div>
    </div>
  </div>
</div>

<script id="AlertTemplate" type="text/x-jquery-tmpl">
<div class="alert-message success fade in saved-alert" data-alert>
  The slide was saved! Save this link if you plan to <a href="/edit/${id}" rel="nofollow" title="Slido ${id}">edit the slide</a> in the future.
  <a class="close" href="#">×</a>
</div>
</script>

<script id="ErrorTemplate" type="text/x-jquery-tmpl">
<div class="alert-message error fade in saved-alert" data-alert>
  ${err}
  <a class="close" href="#">×</a>
</div>
</script>