<h1>Markdown to HTML5 slide</h1>
<p>Write your text here using the <a href="http://daringfireball.net/projects/markdown/syntax">markdown syntax</a>
and press submit. You will see an html5 slide pretty similar to the <a href="http://slides.html5rocks.com/">HTML5 rocks Google presentation</a>.</p>
<form method="post">
	<textarea id="slideMarkdown" name="slideMarkdown" rows="20" cols="50">
	</textarea>
	<br />
	<a id="showExample" href="#">example</a> <br />
	<input type="submit" value="Generate slide" />
</form>

<p> This is heavily inspired in s5, s6, <a href="http://slideshow.rubyforge.org/">s9</a> and <a href="https://github.com/geraldb/slideshow-google-html5-slides">this template</a> from Gerald Bauer.
</p>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$("#showExample").click(function(e){
		e.preventDefault();
		$("#slideMarkdown").val(
			['This is a test ',
			'==============',
			'',
			'You can put some stuff here:',
			'',
			'* Item 1',
			'* Item 2',
			'* Item 3',
			'',
			'',
			'And then another slide',
			'======================',
			'',
			'Test',
			'',
			'* a',
			'* b',
			'* c'].join("\n"));
		return false;
	});
});
</script>