<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript" src="scripts/bootstrap-alerts.js"></script>
<script type="text/javascript" src="ace/ace.js"></script>
<script type="text/javascript" src="ace/mode-markdown.js" charset="utf-8"></script>
<script type="text/javascript" src="ace/theme-twilight.js" charset="utf-8"></script>
<script type="text/javascript" src="scripts/jquery.tmpl.min.js" charset="utf-8"></script>
<script type="text/javascript">
$(document).ready(function(){
    var editor = ace.edit("editor"),
        UndoManager = require("ace/undomanager").UndoManager,
        MarkdownMode = require("ace/mode/markdown").Mode,
        currentId,
        editorSession = editor.getSession();

  editorSession.setMode(new MarkdownMode());
  editorSession.setUseWrapMode(true);
  editorSession.setWrapLimitRange(80, 80);
  editorSession.setUndoManager(new UndoManager());
  
  editor.renderer.setShowPrintMargin(false);
  editor.setTheme("ace/theme/twilight");

  $(".previewslide").click(function(e){
    if($(this).hasClass("disabled")) return false;
    window.location.href += "slide/" + currentId;
  });

  $(".saveslide").click(function(e){
    e.preventDefault();

    $.post(window.location.href,{
      slideMarkdown: editor.getSession().getValue()
    }).done(function(result){
     $("#AlertTemplate").tmpl(result).prependTo($(".main"));
     currentId = result.id;
     $(".previewslide").removeClass("disabled");
    }).fail(function(err){
      //$("<div class='alert-message warning fade in' data-alert=alert'>Saved!</div>").alert();
    })
    return false;
  });

  $(".showexample").click(function(e){  
    e.preventDefault();
    editor.getSession().setValue(
      ['This is a test ',
      '==============',
      '',
      'You can put some stuff here:',
      '',
      '* Item 1',
      '* Item 2',
      '* Item 3',
      '',
      '',
      'And then another slide',
      '======================',
      '',
      'Test',
      '',
      '* a',
      '* b',
      '* c'].join("\n"));
    return false;
  });
});
</script>

<div class="container">

  <div class="content">
    <div class="page-header">
      <h1>Write markdown and generate an HTML5 slideshow</h1>
    </div>
    <div class="row">
      <div class="span14 main" style="height: 700px">
        <br />
        <div class="well">
          <input type="button" class="btn primary saveslide" value="Save" />
          <input type="button" class="btn primary previewslide disabled" value="Preview" />
          <input type="button" class="btn info showexample" value="Show me an example" />
        </div>
      	<div id="editor" class="span12" style="height: 600px" ></div>
      </div>
    </div>
  </div>
</div>

<script id="AlertTemplate" type="text/x-jquery-tmpl">
<div class="alert-message success fade in saved-alert" data-alert>
  The slide was saved! Save this link if you plan to <a href="edit/${id}" rel="nofollow" title="Slido ${id}">edit the slide</a> in the future.
  <a class="close" href="#">×</a>
</div>
</script>